/application.properties
/matebot-core/target
/matebot-ctl/target
.idea
*.iml
/matebot-core/*.iml
/matebot-db/*.iml
/matebot-ctl/*.iml
/matebot-db/target
/matedb_
/dist/application.properties
/logs
/dist/logs
/dist/matedb_
/matebot-web/target
/matebot-web/*.iml
/dist/*.jar
5ce10b8624fa3471cc0f714f2d21ae1a965f0cd8