/application.properties
/matebot-core/target
/.idea
/*.iml
/matebot-core/*.iml
/matebot-db/*.iml
/matebot-db/target
/matedb_
/dist/application.properties
/logs
/dist/logs
/dist/matedb_
/matebot-web/target
/matebot-web/*.iml
/dist/matebot.jar
