<html>
<head>
    <title>Restart matebot</title>
</head>
    <body>
        <form action="/restart" method="post">
            <strong>Restart matebot</strong>
            <input type="submit" value="Restart"/>
        </form>
    </body>
</html>

